<mat-card class="mt20">
    <h1 class="text-center mt20">Add New Category</h1>

    <mat-card-content>
        {{ category | json}}
        <form (ngSubmit) = "formSubmit()">


            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" 
                        required
                        matInput name = 'title'
                         placeholder="Enter Your title"
                         [(ngModel)] = "category.title">
            </mat-form-field> 

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea name="desc"  cols="30" rows="10"
                        matInput
                        [(ngModel)]="category.description" placeholder="Description"
                        ></textarea>
            </mat-form-field> 

            <mat-card-actions>
                <!-- Buttons -->
              <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">
                  <mat-icon>add</mat-icon>Add Category
                </button>
                </div>
                </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>